In [2]:
import sqlite3

# Step 1: Connect to SQLite
conn = sqlite3.connect("entertainment.db")
cursor = conn.cursor()

# Step 2: Read and execute SQL script
with open("entertainment.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

In [4]:
import sqlite3
import pandas as pd

# Connect to your database (after loading the .sql file)
conn = sqlite3.connect("entertainment.db")  # replace with your path

# Get list of all tables
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';",
    conn
)["name"].tolist()

# Loop through tables and check nulls
for table in tables:
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    nulls = df.isnull().sum()
    if nulls.sum() > 0:
        print(f"\nðŸ“Œ Null values in table: {table}")
        print(nulls[nulls > 0])
    else:
        print(f"\nâœ… No nulls in table: {table}")

âœ… No nulls in table: Agents

âœ… No nulls in table: Customers

âœ… No nulls in table: Engagements

âœ… No nulls in table: Entertainer_Members

âœ… No nulls in table: Entertainer_Styles

ðŸ“Œ Null values in table: Entertainers
EntWebPage         5
EntEMailAddress    6
dtype: int64

ðŸ“Œ Null values in table: Members
Gender    1
dtype: int64

âœ… No nulls in table: Musical_Preferences

âœ… No nulls in table: Musical_Styles

âœ… No nulls in table: ztblDays

âœ… No nulls in table: ztblMonths

âœ… No nulls in table: ztblSkipLabels

âœ… No nulls in table: ztblWeeks